body{
    font-family: 'Montserrat', sans-serif;
    padding: 0;
    margin: 0;
}
.header{
    display: flex;
    background-image: url(images/food/headerbg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 500px;

}
.header .logo{
    width: 50%;
}
.header .logo img{
    margin: 25px 50px;
}
.header .menu{
    width: 50%;
    text-align: right;
}
.header .menu ul{
    display: flex;
}
.header .menu ul li{
    margin: 10px 10px;
    padding: 10px 10px;
    list-style: none;
}
.header .menu ul li a{
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}
.banner_part{
    margin-top: 40px;
    margin-bottom: 40px;
    background-color: #FFFFFF;

}
.full_width{
    display: flex;
}
.full_width .half_width{
    width: 50%;
    margin-top: 20px;
    margin-bottom: 20px;

}
.half_width h1{
    margin-left: 50px;
    font-size: 40px;
    font-weight: 900 !important;
    color: #575757;
    margin-bottom: 50px;


}
.half_width .orange{
    color: #FB984C;
}
.half_width p{
    margin-left: 50px;
    font-size: 22px;
    color: #898989;
    margin-bottom: 50px;

}
.half_width a{
    text-decoration: none;
    color: #fff;
    padding: 15px 25px;
    background: linear-gradient(to left, #FD5332 1%, #FB9249 100%);
    margin-left: 50px;
    border-radius: 25px;
}
.half_width img{
    height: 450px;
}
.about{
    background-image: url(images/shapes/7.png);
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;

}
.about_img{
    margin-top: 30px;
    margin-left: 30%;
}
.about_p{
    font-size: 14px !important;
    color: #18191F !important;
    line-height: 1.8;
}
.recipie{
    text-align: center;
}
.recipie h1{
    color: #676767;
    font-size: 36px;
}
.recipie p{
    color: #4b4a4a;

}
.recipie .slide{
    display: flex;

}
.recipie .slide .single_slide{
    margin: 30px;
    width: 28%;
    padding: 8px;
    background-color: #FFFFFF;
    border-radius: 25px;
    box-shadow: 2px 2px 8px 10px #e6e3e3;

}
.recipie .slide .single_slide img{
    width: 100%;
    height: 300px;
    border-radius: 25px;
}
.recipie .slide .single_slide h1{
    text-align: left;
    color: #18191F;
}
.recipie .slide .single_slide p{
    text-align: left;
    color: #6E6F73;
}
.counter{
    text-align: center;
    margin-top: 30px;

}
.counter_mid{
    width: 95%;
    height: 200px;
    background-color: #FFFFFF;
    display: flex;
    margin: auto;
    box-shadow: 2px 2px 8px 10px #e6e3e3;
    border-radius: 15px;
    overflow: hidden;

}
.counter_mid .counter_single{
    width: 25%;
    height: 150px;
    margin: auto;
    margin-top: 25px;
}
.counter_mid .counter_single h1{
    margin-top: 30px;
    font-size: 36px;
    color: #18191F;
}
.counter_mid .counter_single p{
    color: #404146;
}
.footer{
    background-color: #0B0D17;
    height: 300px;
    width: 100%;
    margin-top: 30px;
    overflow: hidden;
}
.footer h1{
    text-align: center;
    color: white;
    margin-top: 50px;
}
.footer span{
    color: #FB984C;

}
.footer p{
    text-align: center;
    color: white;
}
.gallery {
	background-color: #17171E;
	width: 100%;
	text-align: center;
    margin-top: 40px;
    margin-bottom: 40px;
	overflow: hidden;
}
.gallery_header h1{
    color: white;
	font-size: 40px;
	margin-bottom: 20px;
	margin-top: 30px;

}
.pic_gallery{
	width: 95%;
	display: flex;
	justify-content: center;
}
.pic_gallery img{
    height: 390px;
	width: 330px;
}
.card {
	margin: 15px;
}
